.totalCryptoContainer {
	border-bottom: 1px solid grey;
}

.totalCryptoNumber {
	font-size: 20px;
	width: 200px;
	height: 30px;
	border: 1px solid sandybrown;
	text-align: center;
	line-height: 30px;
	margin-bottom: 5px;
	background: #d0f2c9;
}

.bold {
	font-weight: bold;
}