
.totalCryptoNumber {
	font-size: 20px;
	width: 170px;
	height: 30px;
	border: 1px solid grey;
	text-align: center;
	line-height: 30px;
	background: #30f8ff;
	border-radius: 5px;
}

.bold {
	font-weight: bold;
}

