.cryptoListItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cryptoListItems div {
	width: 150px;
	height: 30px;
	text-align: left;
	line-height: 30px;
}

.cryptoListItems div:first-child {
	width: 50px;
}