h3 {
	display: inline;
	font-size: 20px;
}

.headerItem {
	border-bottom: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	width: 150px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	line-height: 30px;
}

.headerItem:first-child {
	width: 50px;
}

.headerItem:nth-child(2) {
	width: 275px;
}

.headerItem:hover {
	cursor: pointer;
	background: #6eeefa;
}

.FontAwesomeIcon {
	color: darkseagreen;
	margin-right: 20px;
}

