h3 {
	display: inline;
	margin-right: 10px;
}

.headerItem {
	border-bottom: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	width: 150px;
	height: 30px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.headerItem:hover {
	cursor: pointer;
}

.headerItem h3 {
	font-size: 20px;
	line-height: 30px;
}

.sort {
	width: 100%;
	padding-left: 10px;
}

.sort:hover {
	background: #6eeefa;
}

.sort {
	line-height: 30px;
}

.FontAwesomeIcon {
	color: darkseagreen;
}

