.eventsContainer {
	width: 80%;
	margin: 0 auto 50px auto;
	border: 1px solid darkgrey;
	box-shadow: 1px 1px 20px #478bdc;
}

.centerAddEventButton {
	margin: 0 auto;
	width: 100%;
}

@media (max-width: 500px) {
	.eventsContainer {
		width: 95%;
	}
}




