html {
	font-size: 14px;
}

header.individualcrypto {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid darkslategrey;
	background: #4285F4;
	padding: 0 50px;
	box-shadow: 0 5px 10px darkgrey;
	line-height: 60px;
	position: fixed;
	top: 0;
}

.individualcrypto h1 {
	font-size: 50px;
	font-family: Garamond;
	margin-left: 70px;
	letter-spacing: 2px;
	color: #FBFBFD;
}

.individualCryptoContainer {
	display: flex;
	justify-content: space-evenly;
	width: 90%;
	margin: 100px auto 0 auto;
	height: 89.4vh;
}

.leftColumn {
	width: 50%;
}

.chart {
	height: 600px;
	box-shadow: 1px 1px 15px #478bdc;
}

.rightColumn {
	width: 40%;
}

button.submitEvent {
	height: 40px;
	width: 250px;
	background: green;
	color: white;
	border: none;
	box-shadow: 0 2px 5px lightgrey;
	border-radius: 5px;
	cursor: pointer;
	font-family:Cambria;
	letter-spacing: 1px;
	margin: 25px 30%;
	outline: none;
	transition: all 0.25s;
}

button.submitEvent:active {
	box-shadow: 0 5px 15px lightgrey;
	background: #00a700;
}

@media (max-width: 1200px) {
	.individualCryptoContainer {
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
	}
	.leftColumn {
		width: 100%;
	}
	.rightColumn {
		width: 100%;
	}
	.chart {
		height: 75vmax;
		width: 95%;
		margin: 0 auto;
	}
	button.submitEvent {
		width: 30%;
		margin: 25px 35%;
	}
}

@media (max-width: 500px) {
	button.submitEvent {
		width: 60%;
		font-size: 0.7rem;
		margin: 25px 20%;
	}
	.chart {
		height: 60vmax;
	}
}

@media (orientation: landscape) {
	button.submitEvent {
		width: 50%;
		margin: 25px 25%;
		font-size: 1rem;
	}
}



