.filterItem {
	width: 150px;
	height: 100%;
	margin: 10px 0;
	opacity: 0.6;
	transition: opacity 0.2s;
}

.filterItem:first-child {
	width: 50px;
}

.filterItem:nth-child(n+3):hover .numberInput input, .filterItem:nth-child(n+3):hover select {
	border: 1px solid grey;
}

.noOpacity {
	opacity: 0;
}

.fullOpacity {
	opacity: 1;
}

.greyBorder {
	border: 1px solid grey;
}

.blackBorder {
	border: 1px solid black;
}

.filterItem:nth-child(n+3):hover, .filterItem:nth-child(n+3) input:focus, .filterItem:nth-child(n+3) input:active {
	opacity: 1;
}

.numberInput {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 10px 0;
}

.numberInput input {
	width: 40%;
	text-align: center;
	outline: none;
}

.center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

select, form input {
	width: 100%;
	height: 25px;
	outline: none;
}

select option {
	text-align: center;
}

/*
Button Styles
 */

button {
	width: 80%;
	height: 30px;
	outline: none;
	border: 1px solid darkgrey;
	font-weight: bold;
	margin: 0 auto;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.halfWidth {
	width: 44%;
}

.clear {
	background: lightskyblue;
	border-radius: 30px;
}

.submit {
	background: darkseagreen;
	border-radius: 5px;
}

.flexBox {
	display: flex;
	justify-content: space-between;
	align-content: center;
	border: 1px solid black;
}


