.filterItem {
	width: 150px;
	height: 100%;
	margin: 10px 0;
	opacity: 0.6;
	transition: opacity 0.2s;
}

.filterItem:first-child {
	width: 50px;
}

.noOpacity {
	opacity: 0;
}

.fullOpacity {
	opacity: 1;
}

.filterItem:nth-child(n+3):hover, .filterItem:nth-child(n+3) input:focus, .filterItem:nth-child(n+3) input:active {
	opacity: 1;
}


/*
Top Row of Type Selector Button Styles
 */

.flexBox {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/*
Styles for number Inputs
 */

.numberInput {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 10px 0;
}

.numberInput input {
	width: 45%;
	text-align: center;
	outline: none;
	height: 25px;
	border: 2px solid darkslategrey;
	border-radius: 5px;
}

.numberInput input.betweenWidth  {
	width: 30%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}


/*
Styles for Bottom Row of Submit and Clear buttons
 */


.buttonContainer {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.buttonContainer button {
	width: 70%;
	height: 30px;
	outline: none;
	border: 1px solid darkslategrey;
	font-weight: bold;
}

.buttonContainer button.clear {
	background: lightskyblue;
	border-radius: 30px;
}

.buttonContainer button.submit {
	background: darkseagreen;
	border-radius: 5px;
}

.buttonContainer button.betweenButtons {
	width: 40%;
}



