.event {
	border:1px solid black;
	display: flex;
	margin: 10px 0;
}


.eventDate {
	font-weight: bold;
	border-right: 1px solid black;
	width: 175px;
	padding: 10px;
	background: darkseagreen;
}

.eventInfo {
	width: 100%;
	background: lightskyblue;
}

.eventTitle {
	text-decoration: underline;
	padding: 10px;
}

.eventSummary {
	line-height: 20px;
	padding: 10px;
}

.links {
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px;
}

.links a {
	text-decoration: none;
}