.event {
	display: flex;
	border-bottom: 1px solid lightgrey;
	height: 130px;
}

.eventDate {
	border-right: 1px dotted lightgrey;
	width: 175px;
	padding: 10px;
	background: #58ffe4;
	text-align: center;
	font-size: 0.8rem;
}

.eventInfo {
	width: 100%;
	background: #3ef8fa;
}

.eventTitle {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	overflow: hidden;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9rem;
}

.eventSummary {
	line-height: 1.05rem;
	padding: 0 10px;
	height: 70px;
	font-size: 0.8rem;
}

.links {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	font-size: 0.85rem;
}

.links a {
	text-decoration: none;
}

button.viewSourceButton, button.viewKryptocalButton {
	outline: none;
	height: 20px;
	color: white;
	border: none;
	box-shadow: 0 1px 2px black;
	font-size: 0.75rem;
	border-radius: 3px;
	transition: all 0.25s;
	font-family: Cambria, sans-serif;
	letter-spacing: 1px;
	padding: 0 10px;
}

button.viewSourceButton {
	background-color: #2196F3;

}

button.viewKryptocalButton {
	background: #E10050;
}

button.viewSourceButton:hover, button.viewKryptocalButton:hover {
	cursor: pointer;
}

button.viewSourceButton:active {
	box-shadow: 0 5px 10px lightgrey;

}

button.viewKryptocalButton:active {
	box-shadow: 0 5px 10px lightgrey;
}

@media (max-width: 1100px) {
	.eventTitle {
		font-size: 1.1rem;
	}
	.eventSummary {
		font-size: 1rem;
	}
	button.viewSourceButton {
		font-size: 1.1rem;
	}

	button.viewKryptocalButton {
		font-size: 1.1rem;
	}
}

@media (max-width: 500px) {
	.links {
		width: 100%;
		justify-content: space-evenly;
	}

	button.viewSourceButton, button.viewKryptocalButton {
		font-size: 0.5rem;
		padding: 0 5px;
	}

	.eventDate {
		font-size: 0.6rem;
		font-weight: bold;
		width: 35%;
	}

	.eventTitle {
		height: 20px;
		line-height: 20px;
		font-size: 0.7rem;
		padding-left: 2px;
	}

	.eventSummary {
		font-size: 0.6rem;
		line-height: 0.8rem;
		height: 85px;
	}
}

