.cryptoSummary {
	width: 80%;
	min-height: 50px;
	line-height: 50px;
	margin: 0 auto 50px auto;
	border: 1px solid grey;
	box-shadow: 1px 1px 20px cornflowerblue;
}

.cryptoSummary p {
	margin-left: 20px;
}