
button.submitEvent {
	height: 40px;
	width: 50%;
	background: #a3d5a3;
	border: 2px groove black;
	margin-left: 25%;
	outline: none;
	border-radius: 30px;
	font-weight: bold;
	cursor: pointer;
	font-family:Cambria;
	letter-spacing: 2px;
}

button.submitEvent:hover {
	background: #d0f2c9;
}

.centerAddEventButton {
	margin: 0 auto;
	width: 100%;
}

