.filterItem {
	width: 170px;
	min-width: 170px;
	height: 100%;
	margin-top: 20px;
	opacity: 1;
	transition: opacity 0.2s;
}

.noOpacity {
	opacity: 0.2;
}

.fullOpacity {
	opacity: 1;
}

.filterItem:nth-child(n+3):hover, .filterItem:nth-child(n+3) input:focus, .filterItem:nth-child(n+3) input:active {
	opacity: 1;
}


/*
Top Row of Type Selector Button Styles
 */

.flexBox {
	display: flex;
	justify-content: space-between;
	width: 100%;
}


.flexBox:hover button {
	opacity: 1;
	position: static;

	width: 31%;
	font-size: 11px;
	height: 20px;
	outline: none;
	border-radius: 3px;
	margin: 0;
	background: #4285F4;
	color: white;
	font-family: Cambria, sans-serif;
	box-shadow: 0 1px 2px black;
	transition: all 0.10s;
	letter-spacing: 1px;
	border: none;
}

.flexBox button:hover {
	box-shadow: 0 3px 5px darkslategrey;
	cursor: pointer;

}

/*
Styles for number Inputs
 */

.numberInput {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 10px 0;
}

.numberInput input {
	width: 45%;
	text-align: center;
	outline: none;
	height: 25px;
	border: 2px solid lightgrey;
	border-radius: 5px;
}

.numberInput input:hover {
	cursor: pointer;
}

.numberInput input:focus {
	cursor: pointer;
	box-shadow: 0 0 5px black;
}

.numberInput input.betweenWidth  {
	width: 31%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}


/*
Styles for Bottom Row of Submit and Clear buttons
 */


.buttonContainer {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.buttonContainer button {
	width: 50%;
	height: 25px;
	outline: none;
	border: none;
	box-shadow: 0 1px 1px darkslategrey;
	font-weight: bold;
	transition: all 0.1s;
	font-family: Cambria, sans-serif;
	letter-spacing: 1px;
	color: white;
}

.buttonContainer button:hover {
	box-shadow: 0 3px 5px darkslategrey;
	cursor: pointer;

}

.buttonContainer button.clear {
	background: #4285F4;
	border-radius: 30px;
}

.buttonContainer button.submit {
	background: #00882B;
	border-radius: 5px;
}

.buttonContainer button.betweenButtons {
	width: 40%;
}

@media (max-width: 1000px) {
	.filterItem {
		margin-right: 20px;
	}
}

.coins {
	margin: 10px 0;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}



